<%= tag.div \
  data: { controller: 'message-renderer', "message-renderer-owner-value": "#{private_message.user.id}", "message-renderer-target": "floatDirection" },
  class: "flex items-end mb-4 chat__box__text-box" do %>

  <div data-message-renderer-target="colorIdentifier" class="px-4 py-3 font-medium text-white rounded-l-md rounded-t-md">
    <%= private_message.message_body %>
    <div class="mt-1 text-xs text-gray-300"><%= time_ago_in_words private_message.created_at %></div>
  </div>

  <div class="relative flex-none hidden w-10 h-10 mx-3 sm:block">
    <%= render 'shared/user_avatar', name: private_message.user.name %>
  </div>
<% end %>
<div class="clear-both"></div>
