<div class="flex flex-col items-center justify-center space-y-2 space-x-3 sm:flex-row sm:space-y-0">
  <span class-"text0sm text-gray-600">Cannot find anyone? Try to:</span>

  <div class="new_post">
    <%= link_to "Create a new post", new_post_path(branch: branch), class: 'bg-gradient-to-br from-gray-500 hover:opacity-100 inline-block opacity-80 px-4 py-2 rounded-md text-white to-green-500' %>
  </div>
</div>
