<%= link_to notification.notifiable, class: 'flex space-x-2' do %>
  <div class="block">
    <%= notification.actor.name %>
  </div>

  <div class="block">
    <%= notification.action %>
  </div>

  <div class="block">
    <%= notification.notifiable.class.to_s.underscore.humanize.downcase %>
  </div>
<% end %>
