<div class="flex flex-col p-4 bg-white shadow-md col-span-full space-y-6 divide-y-2 md:col-span-10 md:col-start-2 rounded-md">
  <div class="overflow-x-auto font-medium text-gray-800 divide-y-2 divide-gray-200">
    <%= render @notifications %>
  </div>
</div>
