<% if object.errors.any?  %>
  <div id="error_explanation" class="px-4 py-4 bg-rose-100 rounded-md">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="font-mono text-sm font-medium text-rose-500"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
