<div class="flex items-center justify-center space-x-4" data-controller="initials-avatar" data-initials-avatar-name-value="<%= name %>">
  <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-100 border-2 border-white rounded-full" data-initials-avatar-target="avatar">
    <span class="block text-sm font-semibold text-white uppercase" data-initials-avatar-target="initials"></span>
  </div>
</div>
