<% branch_path_name = "#{params[:action]}_posts_path" %>

<div class="px-4 py-3 overflow-hidden">
  <div class="flex pb-5 overflow-x-auto space-x-2">
    <%= render all_categories_button_partial_path, branch_path_name: branch_path_name %>

    <% @categories.each do |category| %>
      <%= link_to category.name, send(branch_path_name, category: category.name), class: "border-2 border-gray-500 font-semibold inline-block px-4 py-2 rounded-md whitespace-nowrap  #{params[:category] == category.name ? 'bg-gray-500 text-white hover:opacity-90' : 'text-gray-500 hover:bg-gray-500 hover:text-gray-100' }" %>
    <% end %>
  </div>
</div>
