<div class="flex items-center space-x-3">
  <%= link_to "Login", login_path, class: 'px-3 py-2 text-sm font-medium text-gray-300 bg-gray-700 hover:bg-gray-800 hover:text-white border rounded-md' %>
  <%= link_to "Signup", signup_path, class: 'px-3 py-2 text-sm font-medium bg-indigo-700 text-gray-300 hover:bg-indigo-800 hover:text-white border rounded-md' %>
</div>
