<div class="flex items-center justify-between flex-shrink-0 space-x-2">
  <div class="flex items-center space-x-4">
    <span class="text-sm font-semibold text-gray-600">Group name</span>
  </div>

  <div class="pt-2 text-sm text-gray-600 md:text-base space-x-2 md:pt-0">
    anymore stuffs
  </div>
</div>
