<div class="flex items-center justify-between flex-shrink-0 space-x-2">
  <div class="flex items-center space-x-4">
    <span class="text-sm font-semibold text-gray-600">
      <%= @group_conversation.name %>
    </span>
  </div>

  <div id="group-users" class="flex items-center pt-2 overflow-hidden text-sm text-gray-600 md:text-base -space-x-2 md:pt-0">
    <% @group_conversation.users.each do |user| %>
      <%= render 'shared/user_avatar', name: user.name %>
    <% end %>
  </div>
</div>
