<div class="">
  <%= link_to post_path(post), class: 'w-full block hover:bg-blue-100' do %>
    <div class="flex items-center px-2 py-3 sm:px-5 space-x-2">
      <div class="flex-shrink-0 w-8 h-8 bg-blue-300 rounded-full ">

      </div>

      <div class="flex justify-center space-x-4">
        <div class="hidden ml-1 sm:block">
          <%= post.user.name %>
        </div>

        <div class="truncate">
        <%= post.title %>
        </div>
      </div>
    </div>

  <% end %>
</div>
