@import "tailwindcss/base";
@import "tailwindcss/components";

details > summary::-webkit-details-marker {
  display: none;
}

.pagy-nav, {
  @apply inline-flex shadow-md;
}

.pagy-nav.pagination, {
  @apply rounded-md;
}
.pagy-nav .page, {
  @apply text-gray-700 px-3 py-2 text-sm leading-tight font-medium;
}


.pagy-nav .active, {
  @apply bg-blue-700 text-white;
}

// .pagy-nav .prev, {
  // @apply text-gray-700;
// }
//
// .pagy-nav .prev, {
  // @apply opacity-80;
// }

.pagy-nav .next, {
  @apply opacity-80;
}

.pagy-nav .disabled, {
  @apply cursor-not-allowed text-gray-400;
}

// field with errors 
.field_with_errors {
  input, text-area, select {
    @apply border text-rose-500 border-red-600 bg-rose-50;
  }
}

.flash {
  .alert {
    @apply bg-rose-400
  }
  .notice {
    @apply bg-teal-400
  }

  .success {
    @apply bg-green-400
  }

  .warning {
    @apply bg-amber-400
  }
}

// chat box
.chat__box__text-box {
  max-width: 94%;
}

@screen md {
  .chat__box__text-box {
    max-width: 49%;
  }
}

.clear-both {
  clear: both;
}


// trix editor
.trix-wrapper {
  trix-toolbar {
    @apply hidden;
  }
}

.btn-focusable {
  @apply bg-transparent hover:opacity-75 focus:outline-none focus:ring focus:ring-cyan-300 p-1 rounded-full
}

@import "tailwindcss/utilities";
