<div class="">
  <%= link_to post_path(post), class: 'w-full block hover:bg-blue-100' do %>
    <div class="flex items-center px-2 py-2 sm:px-5 space-x-2">
      <%= render 'shared/user_avatar', name: post.user.name %>
      <div class="flex justify-center space-x-4">
        <div class="sr-only">
          <%= post.user.name %>
        </div>

        <div class="truncate">
          <%= post.title %>
        </div>
      </div>
    </div>
  <% end %>
</div>
