<section class="flex single_post_card">
  <div class="relative flex w-full overflow-hidden text-white shadow-lg rounded-3xl">
    <div class="flex w-full md:flex-col bg-gradient-to-br from-purple-500 to-indigo-500">
      <div class="relative z-10 flex flex-col items-start p-6 sm:max-w-sm sm:flex-none md:w-auto md:flex-auto xl:p-8">
        <h2 class="mb-2 text-xl font-semibold text-shadow">
          <%= truncate(post.title, length: 60) %>
        </h2>
        <p class="mb-4 font-medium text-violet-100 text-shadow">
        <%= post.content %>
        </p>

        <%= link_to "I'm interested", post_path(post.id), class: 'inline-flex px-4 py-2 mt-auto font-semibold bg-indigo-800 bg-opacity-50 hover:bg-opacity-75 transition-colors duration-200 rounded-xl' %>
      </div>
    </div>
    <div class="absolute bottom-0 left-0 right-0 hidden h-20 sm:block"
         style="background: rgba(0, 0, 0, 0) linear-gradient(to top, rgb(135, 94, 245), rgba(135, 94, 245, 0)) repeat scroll 0% 0%;">
    </div>
  </div>
</section>
