<div class="px-8 col-span-full space-y-8 md:col-span-8 md:col-start-3">
  <h1 class="text-2xl font-semibold text-center text-gray-600">Create a new post</h1>

  <div>
    <%= render 'posts/new/post_form' %>
  </div>
</div>
