<div>
  <%= link_to listing_type, class: 'w-full block hover:bg-blue-100' do %>

    <div class="flex items-center px-2 py-1 md:py-2 sm:px-5 space-x-4">
      <%= render 'shared/user_avatar', name: listing_avatar_name %>

      <div class="flex justify-center space-x-4">
        <div class="truncate"><%= listing_name %></div>
      </div>
    </div>
  <% end %>
</div>
