<%= form_tag({controller: 'private/conversations', action: 'create'}, method: 'post') do %>
  <%= hidden_field_tag :post_id, @post.id %>
  <div>
    <%= text_area_tag :message_body, nil, rows: 3, class: 'relative block w-full bg-gray-100 px-4 py-3 font-semibold border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10', placeholder: 'Type a message to send...' %>
  </div>
  <div class="px-4 pt-3 text-center sm:px-6">
    <%= submit_tag 'Send a message', class: 'inline-flex justify-center py-2 px-4 font-semibold border border-transparent shadow-sm rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
  </div>
<% end %>
